<h1>Items#index</h1>

<ul> 
    <li> <%= @item.name %> </li>
    <li> <%= @item.quantity %> </li>
    <li> <%= @item.description %> </li>
    <% if @item.deleted? %>
        <li> <%= @item.deleted_comment %> </li>
    <% end %>
</ul>

